{% include "header.html" %}
        <h1 style="color:rgb(255, 255, 166);font-size:60px;text-align:center;margin-top:100px;">WELCOME TO CHILE CHICOS</h1>

        <h2 style="color:white;margin-top:30px;text-align:center;">MENU</h2>

        <center>
        <b2 style="background-color:white;margin-top:20px;">
        <table width="500px" border="0" padding="20px">
        <tr>

        <td align="center" valign="center">
        <a href="productdetails?code=500">
        <img src="/static/images/elprimo.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        El Primo<br/> PHP 110</p>
        </td>

        <td align="center" valign="center">
        <a href="productdetails?code=600">
        <img src="/static/images/patatasfrita.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        Patatas Frita<br/>PHP 100</p>
        </td>

        <td align="center" valign="center">
        <a href="productdetails?code=700">
        <img src="/static/images/elpollo.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        El Pollo<br/>PHP 100</p>
        </td>

        <td align="center" valign="center">
        <a href="productdetails?code=800">
        <img src="/static/images/lacarnita.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        La Carnita<br/> PHP 100</p>
        </td>
        
        </tr>
        </table>
        </b2>
        </center>
        
    <footer>
    <center>
        <div class="row">
        <ul class="back">
            <li><a href="/stalls"> BACK </a></li>
        </ul>
        </div>
{% include "footer.html" %}