{% include "header.html" %}
        <h1 style="color:rgb(255, 255, 166);font-size:60px;text-align:center;margin-top:100px;">WELCOME TO KUSINA</h1>

        <h2 style="color:white;margin-top:30px;text-align:center;">MENU</h2>

        <center>
        <b2 style="background-color:white;margin-top:20px;">
        <table width="500px" border="0" padding="20px">
        <tr>

        <td align="center" valign="center">
        <a href="productdetails?code=100">
        <img src="/static/images/beeftapa.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        Beef Tapa <br/> PHP 110</p>
        </td>

        <td align="center" valign="center">
        <a href="productdetails?code=200">
        <img src="/static/images/porksisig.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        Pork Sisig<br/>PHP 100</p>
        </td>

        <td align="center" valign="center">
        <a href="productdetails?code=300">
        <img src="/static/images/tofusisig.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        Tofu Sisig<br/>PHP 100</p>
        </td>

        <td align="center" valign="center">
        <a href="productdetails?code=400">
        <img src="/static/images/porkliempo.jpg" width="200px" height="120px"/>
        </a>
        <p style="color:black;background-color:hsl(0, 100%, 90%);">
        Pork Liempo<br/> PHP 100</p>
        </td>
        
        </tr>
        </table>
        </b2>
        </center>
        <center>
               <div lass="row">
               <ul class="back">
                   <li><a href='/stalls'> BACK </a></li>
               </ul>
               </div>
        </center>
{% include "footer.html" %}