{% include "header.html" %}
      <h1 style="color:rgb(255, 255, 166);font-size:60px;text-align:center;margin-top:100px;">JSEC FOOD STALLS</h1>
      <center>
      <table width="500px" border="0" padding="30px">
      <tr>
      <td align="center" valign="center">
      <a href='/kusina'><img src="static/images/kusinalogo.jpg" width="300px" height="200px"/>
      </a></td>
  
      <td align="center" valign="center">
      <a href='/chicos'><img src="static/images/chilechicoslogo.jpg" width="300px" height="200px"/>
      </a></td>
      </tr>
      </table>
      </center>
  
      <center>
          <div lass="row">
          <ul class="back">
              <li><a href='/'> BACK </a></li>
          </ul>
          </div>
      </center>
{% include "footer.html" %}
